<footer>
  <div class=footer-info>
    This project is maintained by <a href="https://spencerproject.com/">Amy Spencer</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </div>
</footer>
